.header {
  height: 20px;
}

#day1 {
margin-right: 15px;
margin-left: 15px;

}

#day2 {
  margin-right: 15px;
  margin-left: 15px;
}

#day3 {
  margin-right: 15px;
  margin-left: 15px;
}

#day4 {
  margin-right: 15px;
  margin-left: 15px;
}

#day5 {
  margin-right: 15px;
  margin-left: 15px;
}